<h1>List of games you have played</h1>

<ol>
  <% @current_games.each do |game| %>
    <li>
      Name: <%= game.name %> |
      Year Published: <%= game.year_published %> |
      Plays: <%=  game.play_count %> |
      <%= link_to 'Play', new_user_game_game_play_path(game) %> |
      <%= link_to 'Delete', user_game_path(game), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    </li>
  <% end %>
</ol>

<%= link_to 'Add game to your collection', new_user_game_path %>
