<html ng-app="vp">
  <head>
    <title>VictoryPoint</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "#{Rails.root}/vendor/assets/javascripts/angular.min.js" %>
    <%= javascript_include_tag "#{Rails.root}/vendor/assets/javascripts/angular-resource.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <div class="user_info">
        <%= "#{current_user.email} | Total VP: #{current_user.total_play_count} |" %>
        <span class="link_button">
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete%>
        </span>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
